.button {
  width: max-content;
  background: $bg-slate;
  border: 0.5px solid $bg-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all $transition-time-md $transition-fn;
  * {
    margin: 0;
  }
  &::before {
    content: "";
    width: calc($w-full + 1px);
    height: calc($h-full + 1px);
    background: $bg-white-rgba-xs;
    border-radius: $rounded;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    transition: all $transition-time-xs $transition-fn;
  }
  &::after {
    content: "";
    width: $w-full;
    height: $h-full;
    border-radius: $rounded;
    background: $bg-white-rgba-lg;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: all $transition-time-xs $transition-fn;
  }
  &:hover::before {
    opacity: 1;
  }
  &:active::after {
    width: calc($w-full + 1rem);
    height: calc($h-full + 1rem);
  }
  .button-icon {
    margin-right: calc($m-1 / 2);
  }
}

// Shape
.button-square {
  border-radius: $rounded;
}

.button-round {
  border-radius: $rounded-xxl;
}

// Size
.button-sm {
  padding: $p-1 - 0.8 $p-1 - 0.4;
  font-size: $text-xs;
  * {
    font-size: $text-xs;
  }
}

.button-md {
  padding: $p-1 - 0.6 $p-1 - 0.2;
}

.button-lg {
  padding: $p-1 - 0.4 $p-1;
  font-size: $text-md;
  * {
    font-size: $text-md;
  }
}

// Color
.button-color {
  *,
  path {
    color: $text-white !important;
  }
}

.button-blue {
  background: $bg-blue;
  border-color: $bg-blue;
  &::after {
    background: $bg-blue-rgba-xs;
  }
}

.button-red {
  background: $bg-red;
  border-color: $bg-red;
  &::after {
    background: $bg-red-rgba-xs;
  }
}

.button-green {
  background: $bg-green;
  border-color: $bg-green;
  &::after {
    background: $bg-green-rgba-xs;
  }
}

.button-orange {
  background: $bg-orange;
  border-color: $bg-orange;
  &::after {
    background: $bg-orange-rgba-xs;
  }
}

.button-yellow {
  background: $bg-yellow;
  border-color: $bg-yellow;
  &::after {
    background: $bg-yellow-rgba-xs;
  }
}

.button-purple {
  background: $bg-purple;
  border-color: $bg-purple;
  &::after {
    background: $bg-purple-rgba-xs;
  }
}

.button-pink {
  background: $bg-pink;
  border-color: $bg-pink;
  &::after {
    background: $bg-pink-rgba-xs;
  }
}

.button-black {
  border-color: $bg-black;
  background: $bg-black;
  &::after {
    background: $bg-black-rgba-xs;
  }
}

// Ghost
.button-ghost {
  background: $bg-white;
}

.button-dark.button-ghost {
  background: $bg-deep-blue;
}

.button-ghost-blue {
  border-color: $bg-blue;
  *,
  path {
    color: $text-blue !important;
  }
  &::after {
    background: $bg-blue-rgba-xs;
  }
}

.button-ghost-red {
  border-color: $bg-red;
  *,
  path {
    color: $text-red !important;
  }
  &::after {
    background: $bg-red-rgba-xs;
  }
}

.button-ghost-green {
  border-color: $bg-green;
  *,
  path {
    color: $text-green !important;
  }
  &::after {
    background: $bg-green-rgba-xs;
  }
}

.button-ghost-orange {
  border-color: $bg-orange;
  *,
  path {
    color: $text-orange !important;
  }
  &::after {
    background: $bg-orange-rgba-xs;
  }
}

.button-ghost-yellow {
  border-color: $bg-yellow;
  *,
  path {
    color: $text-yellow !important;
  }
  &::after {
    background: $bg-yellow-rgba-xs;
  }
}

.button-ghost-purple {
  border-color: $bg-purple;
  *,
  path {
    color: $text-purple !important;
  }
  &::after {
    background: $bg-purple-rgba-xs;
  }
}

.button-ghost-pink {
  border-color: $bg-pink;
  *,
  path {
    color: $text-pink !important;
  }
  &::after {
    background: $bg-pink-rgba-xs;
  }
}

.button-ghost-black {
  border-color: $bg-black;
  *,
  path {
    color: $text-black !important;
  }
  &::after {
    background: $bg-black-rgba-xs;
  }
}

// Text
.button-text {
  border-color: transparent;
  background: transparent;
  color: $text-blue;
  * {
    color: $text-blue;
  }
  &::after,
  &::before {
    content: unset;
  }
  &:hover {
    opacity: 0.6;
  }
}

// Loading;
.button-loading {
  cursor: not-allowed;
  user-select: none;
  opacity: 0.8;
  &::after,
  &::before {
    content: unset;
  }
}

// Disabled
.button-disabled {
  border-color: $bg-slate;
  background: $bg-slate !important;
  color: $text-gray;
  user-select: none;
  cursor: not-allowed;
  * {
    color: $text-gray;
  }
  &::after,
  &::before {
    content: unset;
  }
}
