@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: $text-sm;
  color: $text-black;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: $font-regular;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: $bg-gray;
  }
  &::-webkit-scrollbar-track {
    background: $bg-slate;
  }
}

html {
  font-size: 62.5%;
}

button {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}